<div class='panel panel-danger'>
<div class="panel-heading">
  <h1> Log in you cool cool winner </h1>
</div>
<div class="panel-body">
<form action = '/sessions' method = 'post'>
  <label for = "username"> <h2><span class='label label-danger'>Username</h2></span></label></br>
  <input id = "username" type = "text" name = "username"/></br>
  <label for = "password">  <h2><span class='label label-danger'>Password</h2></span></label></br>
  <input id = "password" type = "text" name = "password"/><br>
  <input id="submit" class="button" type="submit" value="Log In"/>
</form>
</div>
</div>
