<div class='panel panel-danger'>
<h1> Please Sign Up </h1>
<form method = "post" action = "/sign-up" >
  <label for = "username"> <span class='label label-danger'>Username</span></label>
  <input id = "username" type = "text" name = "username"/>
  <label for = "email"> <span class='label label-danger'> Email</span></label>
  <input id = "email" type="text" name = "email"/>
  <label for = "password"> <span class='label label-danger'> Password</span></label>
  <input id = "password" type="password" name="password"/>
  <label for = "password">  <span class='label label-danger'>Confirm Password</span></label>
  <input id = "password_confirmation" type="password" name="password_confirmation"/>
  <input id="submit" class="button" type="submit" value="Sign Up"/>
</form>
</div>
