<div class='panel panel-danger'>
  <div class="panel-heading">
    <h1>Results</h1>
  </div>
<% if !@spaces.empty? %>
<% @spaces.each do |space| %>
  <div class="thumbnail">
    <img class='image-rounded' src="/images/treehouse.jpg" alt="treehouse">
    <div class='smaller-individual-boxes-listing'>
      <h3><%= space.space_name %></h3>
      <p><%= space.space_description %></p>
      <p>£<%= space.price %> per night </p>
      <a href='/spaces/<%= space.space_name %> '><button class='button-small'>Visit space</button></a>
    </div>
  </div>
<% end %>
</div>

<% else %>
<div class="panel-heading"><h2>No spaces are available for the requested dates.</h2></div>
<button class='button-small'><a href='/spaces'>Back to Spaces</a></button>
<% end %>

<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Team Project @ Makers Academy</p>
    </div>
  </div>
</footer>
