<%if flash[:confirmation]%>
<%=flash[:confirmation]%>
<%end%>

<h1>Spaces</h1>

<form action='/spaces/new'>
  <input type='submit' value='List a space'>
</form>

<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
      <%= space.space_name %>
      <br>
      <%= space.space_description %>
      <br>
      £<%= space.price %> per night
    </li>
  <% end %>
</ul>
