.user-name {
  color: #D3D3D3;
  padding-right: 15px;
  padding-top: 15px;
}


.log-out {
  color: black;
  padding-right: 15px;
  padding-top: 10px;
}

.body {
  background-image: url("http://assets4.bigthink.com/system/idea_thumbnails/57349/size_1024/scifi.jpg?1418833155");
}
