<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/heroic-features.css" rel="stylesheet">
  <link href='/css/custom.css' rel='stylesheet'>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li> <a href="/">Makers BnB</a></li>
          <li> <a href='/spaces'>View Spaces</a></li>
          <li> <a href="/spaces/new" name='Add a space'> Add a space </a></li>
          <li> <a href="/sign-up"> Sign up </a></li>
          <li> <a href="/sessions/new"> Log in </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <% if current_user %>
          <li class='requests'> <a href="/requests/manager" name='View requests'> View requests </a> </li>
          <li class='user-name'>  Welcome, <%= current_user.username %>!</li>
          <li class='log-out'>  <form method='post' action='/sessions'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Log Out'>
          </form> </li>
          <% else %>
          <li><a href="/sign-up"> Please Sign up </a></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <div class="row text-center">
    <div class="col-lg-12">

      <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <p id='errors'>
        <% flash[:errors].each do |error| %>
        <p><%= error %></p>
        <% end %>
      </p>
      <% end %>

      <%=yield%>

    </div>
  </div>
</body>
</html>
