<h1> Please Sign Up </h1>

<body>
<form method = "post" action = "/sign_up" >
  <label for = "username"> Username</label>
  <input id = "username" type = "text" name = "username"/>
  <label for = "email"> Email</label>
  <input id = "email" type = "text" name = "email"/>
  <label for = "password"> Password</label>
  <input id = "password" type = "text" name = "password"/>
  <label for = "password"> Confirm Password</label>
  <input id = "password_confirmation" type = "text" name = "password_confirmation"/>
  <input id="submit" class="button" type="submit" value="Sign Up"/>
</form>
</body>
